.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(33%, auto));
  width: 1100px;
  max-width: 100%;
}

.card {
  padding: 1rem 1.2rem;
  border-radius: 12px;
  background: rgba(180, 185, 188, 0);
  border: 1px solid rgba(131, 134, 135, 0);
  transition: background 200ms, border 200ms;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 34ch;
}

/*.center {*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*  position: absolute;*/
/*}*/

.glow_blue::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 450px;
  height: 360px;
  margin-left: -400px;
}

.glow_blue::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.glow_blue::before,
.glow_blue::after {
  content: '';
  top: 50%;
  left: 50%;
  position: absolute;
  filter: blur(40px);
  transform: translateZ(0);
  animation: rotation 8s infinite linear;
}

.glow_green::before {
  background: var(--quaternary-glow);
  border-radius: 50%;
  width: 400px;
  height: 360px;
  margin-left: -400px;
}

.glow_green::after {
  background: var(--ternary-glow);
  width: 360px;
  height: 180px;
  z-index: -1;
}

.glow_green::before,
.glow_green::after {
  content: '';
  top: 20%;
  left: 70%;
  position: absolute;
  filter: blur(30px);
  transform: translateZ(0);
  animation: rotation 10s infinite reverse;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
