@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

:root {
    --primary-glow: conic-gradient(
            from 180deg at 50% 50%,
            #16abff33 0deg,
            #0885ff33 55deg,
            #54d6ff33 120deg,
            #0071ff33 160deg,
            transparent 360deg
    );
    --secondary-glow: radial-gradient(
            rgba(255, 255, 255, 1),
            rgba(255, 255, 255, 0)
    );

    --ternary-glow: conic-gradient(
            from 180deg at 50% 50%,
            #00ECAE99 0deg,
            #00d49c80 55deg,
            #00bc8b60 120deg,
            #00a57940 160deg,
            transparent 360deg
    );
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary-glow: radial-gradient(
                rgba(1, 65, 255, 0.4),
                rgba(1, 65, 255, 0)
        );
        --secondary-glow: linear-gradient(
                to bottom right,
                rgba(1, 65, 255, 0),
                rgba(1, 65, 255, 0),
                rgba(1, 65, 255, 0.3)
        );
        --ternary-glow: radial-gradient(
                rgba(0, 236, 174, 0.4),
                rgba(0, 236, 174, 0)
        );
        --quaternary-glow: linear-gradient(
                to bottom right,
                rgba(0, 236, 174, 0),
                rgba(0, 236, 174, 0),
                rgba(0, 236, 174, 0.3)
        );
    }
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    box-sizing: border-box;
}